<!DOCTYPE html>
		<head>
			<%= stylesheet_link_tag "menus", media: "all", "data-turbolinks-track" => true%>
			<%= csrf_meta_tags %>	
			<script type="text/javascript">
				function altRows(id)
				{
					if(document.getElementsByTagName)
					{
						var table = document.getElementById(id);	
						var rows = table.getElementsByTagName("tr");
						for(i = 0; i < rows.length; i++)
						{
							if(i % 2 == 0)
							{
							rows[i].className = "evenRowColor";
							}
							else
							{
								rows[i].className = "oddRowColor";
							}
						}
					}
				}
				window.onload=function()
				{
				altRows('alternatecolor');
				}
			</script>	
	</head>

<div class="container">
	<table border="3">
		  <table class="myTableClass" id="alternatecolor">
  			<thead>
	<h1>Listing Menu</h1>
      <tr>
        <th>Menu</th>
        <th>Ingredients</th>
        <th>Price</th>
       <% if can? :manage, User %> <th>Admin</th> <% end %>
      </tr>
    </thead>
	<% cache ['store', Menu.latest] do %>
		<% @menus.each do |menu| %>
			<% cache ['entry', menu] do %>
			<tbody>
				<tr>
					<th><%= image_tag(menu.image_url, :size => "140x110") %>
						<p><%=menu.foodItem %></p>
					</th>
					<th><%= sanitize(menu.description) %></th>
					<th>
						<% if can? :read, User%>
						<span class="price"><%= number_to_currency(menu.price) %></span>
						<%= button_to 'Add to Cart', line_items_path(menu_id: menu), :class => "btn btn-primary btn-sm" %>
					    <% end %>
					</th>
		<th class="list_actions">
			<% if can? :manage, User %>
			<%=link_to'Show', menu %><br/>
			<%=link_to'Edit',edit_menu_path(menu)%><br/>
			<%=link_to'Destroy', menu, method: :delete, data:{confirm:'Are you sure?'} %>
			<% end %>
		</th>
				</tr>
			<tbody>					
			<% end %>
		<% end %>
	<% end %>

	</div>
</div>
</table>
</table>
   <% if can? :create, Menu %>
	<%= link_to 'New Menu', new_menu_path %>
	<% end %>
<br />
<br />
<br />