<br />
<br />
<div class="container">
	<h1>Listing Menu</h1>
  <table class="table table-hover">
	<thead>
      <tr>
        <th>Menu</th>
        <th>Ingredients</th>
        <th>Price</th>
       <% if can? :manage, User %> <th>Admin</th> <% end %>
      </tr>
    </thead>
	<% cache ['store', Menu.latest] do %>
		<% @menus.each do |menu| %>
			<% cache ['entry', menu] do %>
			<tbody>
				<tr>
					<th><%= image_tag(menu.image_url, :size => "140x110") %>
						<p><%=menu.foodItem %></p>
					</th>
					<th><%= sanitize(menu.description) %></th>
					<th>
						<% if can? :read, User%>
						<span class="price"><%= number_to_currency(menu.price) %></span>
						<%= button_to 'Add to Cart', line_items_path(menu_id: menu), :class => "btn btn-primary btn-sm" %>
					    <% end %>
					</th>
		<th class="list_actions">
			<% if can? :manage, User %>
			<%=link_to'Show', menu %><br/>
			<%=link_to'Edit',edit_menu_path(menu)%><br/>
			<%=link_to'Destroy', menu, method: :delete, data:{confirm:'Are you sure?'} %>
			<% end %>
		</th>
				</tr>
			<tbody>					
			<% end %>
		<% end %>
	<% end %>

	</div>
</div>
</table>
   <% if can? :create, Menu %>
	<%= link_to 'New Menu', new_menu_path %>
	<% end %>
