
<div class="container">

<p id="notice"><%= notice %></p>
<font="white">
<p>
  <strong>menuid:</strong>
  <%= @menu.menuID %>
</p>

<p>
  <strong>Fooditem:</strong>
 <b> <%= @menu.foodItem %></b>
</p>

<p>
  <strong>Description:</strong>
  <%= @menu.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @menu.image_url %>
</p>

<p>
  <strong>Franowner:</strong>
  <%= @menu.franchise_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu.price %>
</p>
</font>
<table class="table table-striped">
	<font="white">
<thead>
<th>Order ID</th>
<th>Name</th>
<th>Address</th>
<th>Email</th>
<th>Pay Type</th>
</thead>

<tbody>
<% @orders.each do |order| %>
  <tr>
  	
    <td><%= order.id %></td>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td><%= order.email %></td>
    <td><%= order.pay_type %></td>
    <% order.line_items.each do |line_item|%>
      <% if (@menu.id == line_item.menu_id)%>
        
      <%end%>
    <%end%>
    
  </tr>
<%end%>
</tbody>
</font>
</table>
<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>

</div>
