<%= form_tag(process_add_path) do |f| %>
  
  <div class="field">
  <%= select_tag :school_id, options_from_collection_for_select(School.all, "id", "name")%>
  </div>
  <div class="field">
    <%= f.label :id,{:style=>'color:#FFFFFF;'} %><br>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :fname, {:style=>'color:#FFFFFF;'} %><br>
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :lname, {:style=>'color:#FFFFFF;'} %><br>
    <%= f.text_field :lname %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>