<%= form_tag(process_add_path) do |f| %>
  
  <div class="field">
  <%= select_tag :school_id, options_from_collection_for_select(School.all, "id", "name")%>
  </div>
  <div class="field">

   <font color="539DC2"> <%= label_tag :id %></font><br>
    <%= text_field_tag :id %>
  </div>
  <div class="field">
   <font color="539DC2"> <%= label_tag :fname %></font><br>
    <%= text_field_tag :fname %>
  </div>
  <div class="field">
   <font color="539DC2"> <%= label_tag :lname %></font><br>
    <%= text_field_tag :lname %>
  </div>

  <div class="actions">
    <%= submit_tag :class => "btn btn-primary btn-sm" %>

  </div>
<% end %>