<div class="container">

<h1><font color="539DC2"><b>My students</font></b></h1>

<table class="table table-striped">
  <thead>
    <tr>

      <th><font color="539DC2"><b>Id</font></b></th>
      <th><font color="539DC2"><b>Fname</font></b></th>
      <th><font color="539DC2"><b>Lname</font></b></th>
      <th><font color="539DC2"><b>School</font></b></th>
      <th><font color="539DC2"><b>manage</font></b></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><font color="white"><%= student.id %></font></td>
        <td><font color="white"><%= student.fname %></font></td>
        <td><font color="white"><%= student.lname %></font></td>
        <td><font color="white"><%= student.school.name %></font></td>
		<td>
			<!-- modal -->
			<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#mystudent_<%=student.id%>">
Detail
</button>

<!-- Modal -->
<div class="modal fade" id="mystudent_<%=student.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= student.lname %> <%= student.fname %></h4>
      </div>
      <div class="modal-body">
				 <div class="container">     	
						<p>
  <strong><font color=""><b>Id:</font></b></strong>
 <font color="white"><%= student.id %></font>
</p>

<p>
  <strong><font color="539DC2"><b>Fname:</font></b></strong>
  <font color="white"><%= student.fname %></font>
</p>

<p>
  <strong><font color="539DC2"><b>Lname:</font></b></strong>
  <font color="white"><%= student.lname %></font>
</p>

<p>
  <strong><font color="539DC2"><b>School:</font></b></strong>
  <font color="white"><%= student.school.name %></font>
</p>
			</div>	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- modal end-->
		
		<%= link_to 'Edit', edit_student_path(student), :class => "btn btn-primary btn-xs", style: "color:white" %>
        <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-xs", style: "color:white" %>
      
      	</td>
      	</tr>

		
      
    <% end %>
  </tbody>
</table>
<% if can? :read, User %>
<b><%= link_to 'Add Student', add_students_path(@student), :class => "btn btn-primary pull-right", :style=>'color:#FFFFFF;' %></b><br/><br/>
<% elsif can? :all %>
<b> <%= link_to 'New Student', new_student_path, :class => "btn btn-primary pull-right", :style=>'color:#FFFFFF;' %></b>
<% else %>
<% end %>
</div>

