<div class="container">
<h1><font color="539DC2"><b>My students</font></b></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><font color="539DC2"><b>Id</font></b></th>
      <th><font color="539DC2"><b>Fname</font></b></th>
      <th><font color="539DC2"><b>Lname</font></b></th>
      <th><font color="539DC2"><b>School</font></b></th>
      <th><font color="539DC2"><b>manage</font></b></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><font color="white"><b><%= student.id %></font></b></td>
        <td><font color="white"><b><%= student.fname %></font></b></td>
        <td><font color="white"><b><%= student.lname %></font></b></td>
        <td><font color="white"><b><%= student.school.name%></font></b></td>
        <td><%= link_to 'Show', student %>
        <%= link_to 'Edit', edit_student_path(student) %>
        <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 

<b><%= link_to 'Add Student', add_students_path(@student), :class => "btn btn-primary btn-sm", :style=>'color:#FFFFFF;' %></b><br/><br/>

<b> <%= link_to 'New Student', new_student_path, :class => "btn btn-primary btn-sm", :style=>'color:#FFFFFF;' %></b>
</div>
