<div class="container">
<<p id="notice"><%= notice %></p>

<p>
 <font color=""><%= @student.id %></font>
</p>

<p>
  <font color=""><%= @student.fname %></font>
</p>

<p>
  <font color=""><%= @student.lname %></font>
</p>

<p>
  <strong><font color="539DC2"><b>School:</font></b></strong>
  <font color=""><%= @student.school.name %></font>
</p>

<%= link_to 'Edit', edit_student_path(@student), :style=>'color:#539DC2;'  %>
<%= link_to 'Back', students_path, {:style=>'color:#539DC2;'}  %>


</div>
