<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


	<div class="field">
	   <font color="white"> <%= f.label :"Please Enter Name for the Order" %><br></font>
	    <%= f.text_field :name, :autocomplete => :off, size: 40 %>
	</div>

  	<div class="actions">
    	<%= f.submit 'Place Order',:class => "btn btn-primary btn-sm"  %>
  	</div>
<% end %>

