<html>
	<head>	
</head>
<div class="container">
<p id="notice"><%= notice %></p>
<table class="table">
	<h1>Purchaser information</h1>
<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>
<p>
  <strong>Order Number:</strong>
     <%= @order.id %>
</p>
<body>
<h2>Listing items for selected purchase </h2>
<table class="myTableClass" id="alternatecolor">

<tr>
<th>Name of Dish</th>
<th>Image</th>
<th>Price</th>
<th>Total Price</th>
</tr>
<tbody>
<% @menus.each do |menu| %>
	<tr>
		<td><%= menu.foodItem %></td>
		<td><%= image_tag(menu.image_url, :width => 80) if menu.image_url.present? %></td>
		<td><%= number_to_currency(menu.price) %></td>
			
		<% @order.line_items.each do |line_item|%>
			<% if (menu.id == line_item.menu_id)%>			
				<td ><%= number_to_currency(line_item.total_price) %></td>				
			<%end%>
		<%end%>
	</tr>
<%end%>
  </body>
</table>
	<p>		
	<b>Total Price: <%= number_to_currency(@order.total_price) %></b>
	</p>
<br>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>

</div>
<br />
<br />
</html>