<html>
	<head>
		<script type="text/javascript">
			function altRows(id)
			{
				if(document.getElementsByTagName)
				{
					var table = document.getElementById(id);	
					var rows = table.getElementsByTagName("tr");
					for(i = 0; i < rows.length; i++)
					{
						if(i % 2 == 0)
						{
							rows[i].className = "evenRowColor";
						}
						else
						{
							rows[i].className = "oddRowColor";
						}
					}
				}
			}
			window.onload=function()
			{
			altRows('alternatecolor');
			}
</script>

<style type="text/css">
table.myTableClass {
font-family: verdana,arial,sans-serif;
font-size:11px;
color:#333333;
border-width: 12px;
border-color: #a9c6c9;
border-collapse: collapse;
}
table.myTableClass th {
border-width: 1px;
padding: 8px;
border-style: solid;
border-color: #a9c6c9;
}
table.myTableClass td {
border-width: 1px;
padding: 8px;
border-style: solid;
border-color: #a9c6c9;
}
.oddRowColor{
background-color:#d2e3e2;
}
.evenRowColor{
background-color:#c4dde1;
}
</style>
</head>

<p id="notice"><%= notice %></p>


<table border="1">
	<h1>Purchaser information</h1>
<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>
<p>
  <strong>Order Number:</strong>
     <%= @order.id %>
</p>
<body>
<h2>Listing items for selected purchase </h2>
<table class="myTableClass" id="alternatecolor">

<tr>
<th>Name of Dish</th>
<th>Image</th>
<th>Price</th>
<th>Qty</th>
<th>Total Price</th>
</tr>
<tbody>
<% @menus.each do |menu| %>
	
	<tr>
		<td><%= menu.foodItem %></td>
		<td><%= image_tag(menu.image_url, :width => 80) if menu.image_url.present? %></td>
		<td><%= number_to_currency(menu.price) %></td>
			
		<% @order.line_items.each do |line_item|%>
			<% if (menu.id == line_item.menu_id)%>
				<td><%= line_item.quantity %></td>				
				<td ><%= number_to_currency(line_item.total_price) %></td>				
			<%end%>
		<%end%>
	</tr>

<%end%>
		</table>
	</body>
	<p>
		
	<b>Total Price: <%= number_to_currency(@order.total_price) %></b>
	
</p>
</html>


<br>



<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>

<script>
  $(document).ready(function(){
      // page is now ready, initialize the calendar...
      $('#new_event').click(function(event) {
        event.preventDefault();
        var url = $(this).attr('href');
        $.ajax({
          url: url,
          beforeSend: function() {
            $('#loading').show();
          },
          complete: function() {
            $('#loading').hide();
          },
          success: function(data) {
            $('#create_event').replaceWith(data['form']);
            $('#create_event_dialog').dialog({
              title: 'New Event',
              modal: true,
              width: 500,
              close: function(event, ui) { $('#create_event_dialog').dialog('destroy') }
            });
          }
        });
      });
	  
      $('#calendar').fullCalendar({
          editable: true,
          header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
          },
          defaultView: 'month',
          height: 500,
          slotMinutes: 15,
                    
          events: '/events.json',
 
          timeFormat: 'h:mm t{ - h:mm t} ',
          dragOpacity: "0.5",
          eventDrop: function(event, dayDelta, minuteDelta, allday, revertFunc){
              if (confirm("Are you sure about this change?")) {
                moveEvent(event, dayDelta, minuteDelta, allDay);
              }
              else {
                revertFunc();
              }
          },
          
          eventResize: function(event, dayDelta, minuteDelta, revertFunc){
//              if (confirm("Are you sure about this change?")) {
                  resizeEvent(event, dayDelta, minuteDelta);
//              }
//              else {
//                  revertFunc();
//              }
          },
          
          eventClick: function(event, jsEvent, view){
              showEventDetails(event);
          },
          
          dayClick: function(date, allDay, jsEvent, view){
            if (allDay) {
              alert('Clicked on the entire day: ' + date);
            }
            else{
              alert('Clicked on the slot: ' + date);
            }
          }
          
      });
  }); 
  
</script>
    <script type="text/javascript" src="js/jquery.js"></script><script type="text/javascript" src="js/jquery-easing-1.3.pack.js"></script><script type="text/javascript" src="js/jquery-easing-compatibility.1.2.pack.js"></script>

<div id="eventlist">
<div id= "calendarback">
  <div id="calendar">
  </div>
</div>
</div>
<br />
<br />