<%= form_for(@acct) do |f| %>
  <% if @acct.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acct.errors.count, "error") %> prohibited this acct from being saved:</h2>

      <ul>
      <% @acct.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :credit %><br>
    <%= f.text_field :credit %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
