<div class="container">
<h1>Listing accts</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Credit</th>
      <th>Debit</th>
      <th>Balance</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @accts.each do |acct| %>
      <tr>
        <td><%= acct.credit %></td>
        <td><%= acct.debit %></td>
        <td><%= acct.balance %></td>
        <td><%= acct.user %></td>
        <td><%= link_to 'Show', acct %>
		<%= link_to 'Edit', edit_acct_path(acct) %>
		<%= link_to 'Destroy', acct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Acct', new_acct_path %>
</div>
