
<div class="container">

<% if cart.total_price == 0%>
<h1><font color="539DC2">Your Cart is Currently Empty</font></h1>
<% else %>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<h2><font color="539DC2"><b>Your Cart</b></font></h2>

<table class="table table-striped"  style="width: 65%">
	<thead>
		<tr>

			<th class="col-md-2"><font color="539DC2"><b>Student ID</b></font></th>
	        <th class="col-md-3"><font color="539DC2"><b>Menu</b></font></th>
	        <th class="col-md-2"><font color="539DC2"><b>date</b></font></th>
	        <th class="col-md-2"><font color="539DC2"><b>price</b></font></th>


		</tr>
	</thead>
	<tbody>	
		<%= render(cart.line_items) %>
		
		<tr class="total_line">

			<td colspan="3"><font color="539DC2"><b>Total</b></font></td>

			<td class="total_cell"><font color="white"><b><%= number_to_currency(cart.total_price) %></font></b></td>
		</tr>
	</tbody>
</table>
<h3><font color="539DC2"><b>Your Account Balance</font></b></h3>

<table class="table table-striped"  style="width: 65%">
	<thead>
		<tr>

			<th class="col-md-2"><font color="539DC2"><b>Current Balance</font</b></th>
	        <th class="col-md-3"><font color="539DC2"><b>Order Amount Deduction</font</b></th>
	        <th class="col-md-2"><font color="539DC2"><b>New Balance</font</b></th>

		</tr>
	</thead>
		<tbody>	     	   
				 	<tr> 		 

						<td><b><font color="white"><%= number_to_currency(@previous_balance)%></font</b></td>
				    	<td><b><font color="red">-<%= number_to_currency(cart.total_price)%></font></b></td>	
						<td><b><font color ="white"><%= number_to_currency(@newBal) %></font</b></td>							

					</tr>		 
				</tbody>		
</table>
<%= link_to "Checkout", new_order_path, method: :get, :style=>'color:#FFFFFF',:class => "btn btn-primary btn-sm" %>
<%= link_to 'Empty cart', cart, method: :delete, :class => "btn btn-primary btn-sm",:style=>'color:#FFFFFF', data: { confirm: 'Are you sure?' } %>
<% end %>
</div>
