<% if can? :mange, :all %>
<div class="container">
<h1><font color="539DC2">Listing franchises</font></h1>

<table class="table table-striped">

  <thead>
    <tr>
      <th><font color="539DC2">Name</font></th>
      <th><font color="539DC2">Address</font></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @franchises.each do |franchise| %>
      <tr>

      <td><%if current_user.admin?%>
            <%= check_box_tag 'approved', franchise.id , franchise.franchise_approve, :class => "task-check"%></td>

        <td><font color="white"><%= franchise.name %></font></td>
        <td><font color="white"><%= franchise.address %></font></td>
        <td><%= link_to "Approve", fran_approve_path, :class => "btn btn-primary btn-sm", :style=>'color:#FFFFFF'%></td>
        <td><%= link_to 'Show', franchise, :class => "btn btn-primary btn-sm", :style=>'color:#FFFFFF' %>
          <%= link_to 'Edit', edit_franchise_path(franchise), :class => "btn btn-primary btn-sm", :style=>'color:#FFFFFF' %>
          <%= link_to 'Destroy', franchise, method: :delete, :class => "btn btn-primary btn-sm", :style=>'color:#FFFFFF', data: { confirm: 'Are you sure?' } %>
        </td>
      
      <%else%>
      <td><font color="white"><%= franchise.name %></font></td>
        <td><font color="white"><%= franchise.address %></font></td>
        <td><%= link_to 'Show', franchise, :class => "btn btn-primary btn-sm", :style=>'color:#FFFFFF' %>
          <%= link_to 'Edit', edit_franchise_path(franchise), :class => "btn btn-primary btn-sm", :style=>'color:#FFFFFF' %>
          <%= link_to 'Destroy', franchise, method: :delete, :class => "btn btn-primary btn-sm", :style=>'color:#FFFFFF', data: { confirm: 'Are you sure?' } %>
        </td>
      
        <%end%>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin?%>
      <%= link_to 'New Franchise', new_franchise_path, :class => "btn btn-primary btn-sm", :style=>'color:#FFFFFF' %>

    <%else%>
      <%= link_to 'Submit Form', new_franchise_path, :class => "btn btn-primary btn-sm", :style=>'color:#FFFFFF'  %>

	<% end %>
	</div>
<% end %>

