<%= form_tag(process_approve_path) do |f| %>
  
  
  <div class="field">
    <%= label_tag :fname %><br>
    <%= text_field_tag :fname %>
  </div>
  <div class="field">
    <%= label_tag :address %><br>
    <%= text_field_tag :address %>
  </div>
  
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>