<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @school.student %>
</p>

<p>
  <strong>User:</strong>
  <%= @school.user %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
