<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


         <div class="span8 welcome-image">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin: 0 auto; width: 600px;">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                                <div class="active item">
                                        <%= link_to image_tag("carousel_img1.jpg", :size => "518x343", :alt => "Slide1"), {:class => "img-responsive center-block", :alt => "Responsive image"} %> </a>
                                </div>
                                
                                <div class="item">
                                        <%= link_to image_tag("carousel_img2.jpeg", :size => "518x343", :alt => "Slide1"), {:class => "img-responsive center-block", :alt => "Responsive image"} %>  </a>
                                </div>
                                
                                <div class="item">
                                       <%= link_to image_tag("carousel_img3.jpg", :size => "518x343", :alt => "Slide1"), {:class => "img-responsive center-block", :alt => "Responsive image"} %>
                                </div>
                                
                                <div class="item">
                                        <%= link_to image_tag("carousel_img4.jpg", :size => "518x343", :alt => "Slide1"), {:class => "img-responsive center-block", :alt => "Responsive image"} %> </a>
                                </div>
                                
                                <div class="item">
                                        <%= link_to image_tag("carousel_img5.jpg", :size => "518x343", :alt => "Slide1"), {:class => "img-responsive center-block", :alt => "Responsive image"} %> </a>
                                </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
                
                <script> 
                $(function(){ $('#myCarousel').carousel(); }); 
                </script> 

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>