<!DOCTYPE html>
	<html>
		<head>
			<%= favicon_link_tag 'favicon.ico' %>
  			<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
 			<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
 			<%= csrf_meta_tags %>
 			<style>
	 			.tooltip {
	 				 width:100px;
	 				 font-size:16px;
				}
 			</style>
 			<script>
	 			$(function () {
  					$('[data-toggle="tooltip"]').tooltip()
				})
 			</script>
 			
 		</head>
		<body>
			<div class="navbar transparent navbar-inverse navbar-fixed-top">
			<nav class="navbar navbar-inner">		
		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="/store/index" style="margin-left: 10px;color:white;" >Yummy Tummies</a>
    		</div>
    		<div>
				<ul class="nav navbar-nav">		
					<li><%= link_to 'Menu', menus_url, style: "color:white"  %></li>
			        <% if can? :read, Cart %>
			        	<li><%= link_to 'My Cart', cart_path(session[:cart_id]), style: "color:white"  %></li>
			        <% end %>
			        <% if can? :read, Order %>
			        	<li><%= link_to 'My Orders', orders_path, style: "color:white"  %></li>
			        <% end %>
		        	<% if can? :read, Student %>
				        <li><%= link_to 'My Students', students_path, style: "color:white"  %></li>
		  	    	<% end %>
		  	    	<% if can? :read, Franchise %>
		  	    		<li><%= link_to 'Franchise', franchises_path, style: "color:white"%></li>
		  	    	<% end %>
		  	    	<% if can? :read, School %>
		  	    		<li><%= link_to 'School', schools_path, style: "color:white"  %></li>
		  	    	<% end %>
		  	    	<li><%= link_to 'About', page_path('about'), style: "color:white"  %></li>
		  	    	
		  	    	<li> <%= flash_messages %> </li>
		  	    </ul>
				<ul class="nav navbar-nav navbar-right">
						<% if user_signed_in? %>
						<li>
							<% if can? :mange, :all %>
<span class="glyphicon glyphicon-exclamation-sign text-primary" data-toggle="tooltip" data-placement="bottom" 
aria-hidden="true" style="font-size:2.5em; margin-top: 9px;" title="Admin"></sapn>
							<% elsif can? :read, Cart %>
<span class="glyphicon glyphicon-user text-primary" data-toggle="tooltip" data-placement="bottom" 
aria-hidden="true" style="font-size:2.5em; margin-top: 9px;" title="Parent"></sapn>
							<% elsif can? :read, Franchise %>
<span class="glyphicon glyphicon-leaf text-primary" data-toggle="tooltip" data-placement="bottom" 
aria-hidden="true" style="font-size:2.5em; margin-top: 9px;" title="Franchise Owner"></sapn>
							<% elsif can? :read, School %>
<span class="glyphicon glyphicon-education text-primary" data-toggle="tooltip" data-placement="bottom" 
aria-hidden="true" style="font-size:2.5em; margin-top: 9px;" title="School"></sapn>
							<% end %>
						</li>
						<li>
							<button type="button" class="btn btn-link" style="margin-top: 9px;">
							<%= link_to "logout", destroy_user_session_path, method: :delete, style: "color:white" %>
							</button>
						</li>
						<li>&nbsp;&nbsp;</li>
						<% else %>
						<li><%= render 'devise/registrations/form' %></li>
						<li>&nbsp;&nbsp;</li>
						<li><%= render 'devise/sessions/new2' %> </li>
						<li>&nbsp;&nbsp;</li>			
						<% end %>
						
   
						<% if user_signed_in? %>
						<li>
						<div class="dropdown" style="margin-top: 8px;">
							<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
								<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
							</button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
								<li><%= link_to 'Menu', menus_url %></li>
								<li><%= link_to 'My profile', page_path('../users/index'), 'data-no-turbolink' => true %></li>
								<% if can? :read, Account %>
								<li><%= link_to 'My Account Information', page_path('../accounts/index'), 'data-no-turbolink' => true %></li>				
								<% end %>
								<li class="divider"></li>
							</ul>
						</div>
						</li>
						<% end %>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
			     </ul>
		    </div>
		 </div>
	</nav>
	</div>
	<div id="columns">
		<div id="main">
			<%= yield %>
		</div>
 	</div>
	</body>
</html>
 