<!DOCTYPE html>
	<html>
		<head>
			<div id="nav">
			<ul>
			<li><a href="http://www....">Home</a></li>
			<li><a href="http://www..../faq">Questions</a></li>
			<li><a href="http://www..../news">About Us</a></li>
			<li><a href="http://www..../contact">Contact</a></li>
			</ul>
		</div>
  			<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
 			<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
 			<%= csrf_meta_tags %>
 			<div id="header">
			<%= image_tag("banner2.jpg") %>
			</div>
		</head>

<body class="<%= controller.controller_name %>">
	
	<div id="columns">
		
				<div id="main">
					<%= yield %>
 				</div>
 	</div>
 	
<div id="cart">
<% if @cart %>
<%= render @cart %>
<% end %>
</div>
 	
 </body>
 </html>