<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 


<div class="field">
  <%= f.label :credit %><br>
  <%= f.text_field :credit %>
  </div>
  <div class="field">
    <%= f.label :depotype, "Select Deposit Method" %><br>
    <%= f.select :depotype, Account::DEPOSIT_TYPES, prompt: 'Select a deposit method' %>
  </div>

  <div class="actions">
    <%= f.submit 'Deposit Funds' %>
  </div>
  <% end %>




